build
.vscode
build_test_files
validate/basicModels/*.*dat
validate/basicModels/*.net
validate/basicModels/*.xml
validate/basicModels/*.tsv
validate/basicModels/*.json
validate/basicModels/*.log
validate/basicModels/*.species
!validate/basicModels/v32.species
!validate/basicModels/v38.species
!validate/basicModels/v39.species
!validate/basicModels/v39.xml
!validate/basicModels/v44.xml
!validate/basicModels/v45.xml
!validate/basicModels/v46.xml
!validate/basicModels/v47.xml
!validate/basicModels/v48.xml
!validate/basicModels/v49.xml
!validate/basicModels/v50.xml
!validate/basicModels/invalid_tfun_bad_method.xml
!validate/basicModels/step_to_cache.xml
!validate/basicModels/step_to_zero_propensity.xml
validate/__pycache__/
__pycache__/
test/Issue37/test2.nfevent.json
test/Issue37/test.nfevent.json
test/Issue37/out.gdat
test/Issue37/issue37_test2.species
test/Issue37/issue37_test2.gdat
bin/NFsim

build_native/
build_win/

# AI
.jules
